.grid-container{
  display: grid;
  background-color: E0FA6FF;
  border: 1px dashed #1E96FF;
  grid-gap: 2px;
  grid-template-areas: 
    "item1 item2" 
    "item3 item4"
    "item5 item6";
}

.item-1{
  grid-area: item1;
}

.item-2{
  grid-area: item2;
}


.grid-item{
  background-color: #1E96FF;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  margin: 2px;
}